extends ../layout

block content
	h1.text-white Sign Up Page
	if errors
		each err in errors
			.alert.alert-danger= err
	form(action="/auth/signup",method="POST",class="float-left text-white",enctype="multipart/form-data")
		h2 Do you have not account
		.form-group
			label(for='exampleInputEmail2') Email address

			input#exampleInputEmail2.form-control(type='email',placeholder='Enter email',required,name="email")
			small#emailHelp.form-text.text-white We&apos;ll never share your email with anyone else.
		.form-group
			label(for='exampleInputUserName') User Name
			input#exampleInputUserName.form-control(type='text', placeholder='Enter User Name',required,name="name")
		.form-group
			label(for='exampleInputEmail1') Password
			input#exampleInputPassword1.form-control(type='password', placeholder='Enter your password',required,name="password")
		.form-group
			label(for='exampleInputEmail1') Confirm Password
			input#exampleInputPassword2.form-control(type='password', placeholder='Enter your password',required,name="confirmPassword")
		.form-group
			label(for='exampleFormControlFile1') Your Avatar
			input(type="file",class="form-control-file",id="exampleFormControlFile1",name="avatar")
		button.btn.btn-primary(type='submit') Sign Up