html(lang="en")
	head
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
		meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link( rel="icon",href="/favicon-32x32.png",type="image/png")
		link(rel="stylesheet",href="/style.css")
	body(class="error")
		div.text-center.er
			h1.text-center SOMETHING WRONG! SORRY 
	