extends ../layout

block content
	form(action="/trancation/create",method="POST")
		div.input-group.mb-3
			div.input-group-prepend
				label.input-group-text(for="inputGroupSelect01") Options
			
			select.custom-select(name="user")
				each user in users
					option= user.name
		div.input-group.mb-3
			div.input-group-prepend
				label.input-group-text(for="inputGroupSelect01") Options
			select.custom-select(name="book")
				each book in books 
					option= book.title
		button(class="btn btn-primary") Trancation Now !!
