extends ../layout

block content
	a.btn.btn-primary(href="/shop/" + user.id +"/create") Upload Your Book
	.row(style="margin-top:10rem")
		each book in books
			.col-md-4.col-sm-6
				.card(style="width:18rem;height:18rem")
					img(class="card-img-top",src=book.image,alt="Card image cap")
				.card-body.text-white
					h5(class="card-title font-weight-bold")= book.books
					p(class="card-text font-weight-bold text-white")= book.title
					a(href="/shop/" + user.id + "/delete",class="btn btn-primary mr-3 ") Unload A Book			