extends ../layout

block content
	h1.text-white This is All User display
	a(href="/users/create",class="btn btn-primary mb-3") Create New User

	table.table.text-white.font-weight-bold.text-center
		tr
			th.text-uppercase Name
			th.text-uppercase View User's Book
			th.text-uppercase Decentralization
			th.text-uppercase Delete
		each user in users
			tr
				td= user.name.toUpperCase()
				if !user.isAdmin
					td
						a(href="/users/" + user.id,class="btn btn-primary") View User's Book
					td
						a(href="/users/" + user.id + "/admin",class="btn btn-primary") UpUserToAdmin
					td
						a(href="/users/" + user.id + "/delete",class="btn btn-primary") Delete User
				else
					td
						a(href="/users",class="btn btn-primary") Admin
					td
						a(href="/users",class="btn btn-primary") Admin
				




